<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>YO!!! PiZzA</title>
<link rel="stylesheet" href="style/index.css" />
</head>

<body>
<div id="warpper" class="wrapper">
 <div class="header">
 	<div class="logo">
 		<img src="images/logo.png" />
    </div>
    <div class="online_order">
    	<a href="index.php"><img  src="images/Online order.png"/></a>
    </div>
 </div>
 <div class="menu_container">
    	<img class="back_img" src="images/pizza2.jpg" /> 
        
        <a href="secon_page.html"><img class="home"  src="images/home.jpg" /></a>
        <a href=""><img class="aboutus" src="images/aboutus1.jpeg" /></a>
        <a href="index2.html"><img class="contactus" src="images/contact.png" /></a>
        <a href=""><img class="location"  src="images/location.png" /></a>
        <a href=""><img class="menu" src="images/voucher.png" /></a>
 </div>
 
<!-- <div class="cotact_form">
 	<div class="form_head">Contact form</div>
 	<input type="text" placeholder="Name" />
    <input type="text" placeholder="Email-Id" />
    <input type="text" placeholder="Phone" />
    <textarea placeholder="Comment"></textarea>
    <div class="submit">Submit</div>
 </div> -->
 <div class="footer">
 	<div class="online_orderr">
        <a href=""><img src="images/Online order.png"></a>   
    </div>
    <div class="cell">
        <a href=""><img src="images/cellphone.jpg"></a>   
    </div>
    <div class="">
        <a href=""><img src=></a>   
    </div>
    
 </div>
</div>
</body>
</html>

<!--<span class="menu">Home</span>
        <span class="menu">Menus</span>
        <span class="menu">About Us</span>
        <span class="menu">Contact Us</span>-->
       
