@charset "utf-8";
/* CSS Document */

.header_menu{ background-color:#C33; margin-top:50px; text-align:center; font-size:18px; font-color:#FFF; position:absolute; margin-left:300px; text-transform:capitalize}