<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Contact us</title>
<link rel="stylesheet" href="style/index.css" />
</head>

<body>
<div class="main">
<div class="first">
<div class="cotact_form">
 	<div class="form_head">Contact us</div>
 	<input type="text" placeholder="Name" />
    <input type="text" placeholder="Email-Id" />
    <input type="text" placeholder="Phone" />
    <textarea placeholder="Comment"></textarea>
    <div class="submit">Submit</div>
 </div>
</div>
<div class="second">
	<img class="back_img" src="images/default-banner.jpg" /> 
</div>
</div>
</body>
</html>
